<p>Your Weave Scope account has been approved!</p>

<p>Please follow this link to access your Scope:</p>

<p><a href="{{.LoginURL}}">{{.LoginURL}}</a></p>

<p>Your login will be valid for 60 days.</p>

<p>You need to run probes on your Docker hosts to
send information to Weave Scope.  To do this, type
these commands:</p>

<pre>
# sudo wget -O /usr/local/bin/scope https://git.io/scope-latest
# sudo chmod a+x /usr/local/bin/scope
# sudo scope launch --service-token={{.ProbeToken}}
</pre>

<p>Thanks, the Weave Scope team</p>
