<p>
You've been invited to join the organization "{{.OrganizationName}}" on Weave Scope.
</p>

<p>Click this link to login to Scope:</p>

<p><a href="{{.LoginURL}}">{{.LoginURL}}</a></p>

<p>This single-use login link is valid for 3 days. You can generate a new one at any time by logging in at <a href="{{.RootURL}}">{{.RootURL}}</a></p>

<p>You need to run probes on your Docker hosts to
send information to Weave Scope.  To do this, type
these commands:</p>

<pre>
# sudo wget -O /usr/local/bin/scope https://git.io/scope-latest
# sudo chmod a+x /usr/local/bin/scope
# sudo scope launch --service-token={{.ProbeToken}}
</pre>

<p>Thanks, the Weave Scope team</p>
