<!doctype html>
<html>
  <head>
    <title>Scope as a Service - Users</title>
  </head>
  <body>
    <h2>Accounts</h2>
    {{with .}}
    <table>
      <tr>
        <th>Email</th>
        <th>CreatedAt</th>
        <th>FirstLoginAt</th>
        <th>Admin</th>
      </tr>
      {{range .Users}}
      <tr>
        <td>{{.Email}}</td>
        <td>{{.FormatCreatedAt}}</td>
        <td>{{.FormatFirstLoginAt}}</td>
        <td>
          {{if .Admin}}
          <form action="users/{{.ID}}/admin?admin=false" method="POST">
            <input type="hidden" name="redirect_to" value="../../users" />
            <input type="submit" value="Clear Admin" />
          </form>
          {{else}}
          <form action="users/{{.ID}}/admin?admin=true" method="POST">
            <input type="hidden" name="redirect_to" value="../../users" />
            <input type="submit" value="Make Admin" />
          </form>
          {{end}}
        </td>
      </tr>
      {{end}}
    </table>
    {{else}}
    <p>No users.</p>
    {{end}}
  </body>
</html>
