<!doctype html>
<html>
  <head>
    <title>Weave Cloud - Organizations</title>
  </head>
  <body>
    <h2>Organizations</h2>
    {{with .}}
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CreatedAt</th>
        <th>DenyUIFeatures</th>
        <th>DenyTokenAuth</th>
        <th>FeatureFlags</th>
      </tr>
      {{range .Organizations}}
      <tr>
        <td>{{.ExternalID}}</td>
        <td>{{.Name}}</td>
        <td>{{.FormatCreatedAt}}</td>
        <td>
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="field" value="DenyUIFeatures">
            <input type="checkbox" name="value" {{if .DenyUIFeatures}}checked {{end}}/>
            <input type="submit" value="Save" />
          </form>
        </td>
        <td>
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="field" value="DenyTokenAuth">
            <input type="checkbox" name="value" {{if .DenyTokenAuth}}checked {{end}}/>
            <input type="submit" value="Save" />
          </form>
        </td>
        <td>
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="field" value="FeatureFlags">
            <input type="text" name="value" value="{{range .FeatureFlags}}{{.}} {{end}}" />
            <input type="submit" value="Save" />
          </form>
        </td>
      </tr>
      {{end}}
    </table>
    {{else}}
    <p>No organizations.</p>
    {{end}}
  </body>
</html>
