<!doctype html>
<html>
  <head>
    <title>Weave Cloud - Users</title>
  </head>
  <body>
    <h2>Accounts</h2>
    {{with .}}
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>CreatedAt</th>
        <th>FirstLoginAt</th>
        <th>Admin</th>
      </tr>
      {{range .Users}}
      <tr>
        <td>{{.ID}}</td>
        <td><div style="max-width: 640px; overflow: hidden; text-overflow: ellipsis; white-space; nowrap;">{{.Email}}</div></td>
        <td>{{.FormatCreatedAt}}</td>
        <td>{{.FormatFirstLoginAt}}</td>
        <td>
          {{if .Admin}}
          <form action="users/{{.ID}}/admin?admin=false" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="redirect_to" value="../../users" />
            <input type="submit" value="Clear Admin" />
          </form>
          {{else}}
          <form action="users/{{.ID}}/admin?admin=true" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="redirect_to" value="../../users" />
            <input type="submit" value="Make Admin" />
          </form>
          {{end}}
        </td>
        <td>
          <form action="users/{{.ID}}/become" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="submit" value="Become User" />
          </form>
        </td>
        <td>
          <a href="users/{{.ID}}/organizations">Organizations</a>
        </td>
      </tr>
      {{end}}
    </table>
    {{else}}
    <p>No users.</p>
    {{end}}
  </body>
</html>
