<!doctype html>
<html>
 <base href="/admin/users/"/>
{{with .}}
  <head>
    {{if .UserEmail}}
    <title>Organizations for {{.UserEmail}} – Weave Cloud</title>
    {{else}}
    <title>Organizations – Weave Cloud</title>
    {{end}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
  {{if .Message}}
  <div class="mdl-snackbar mdl-snackbar--active">
      <div class="mdl-snackbar__text">{{.Message}}</div>
  </div>
  {{end}}
    <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 is-casting-shadow">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
				<div class="material-icons">domain</div>
                {{if .UserEmail}}
                Organizations for User «{{.UserEmail}}»
                {{else}}
                Organizations
                {{end}}
            </span>
            <div class="mdl-layout-spacer"></div>
            {{if not .UserEmail}}
            <form action="" method="GET">
                <input type="hidden" name="page" value="1" />
                <label class="mdl-button mdl-js-button mdl-button--icon" for="query">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="query" id="query" value="{{.Query}}">
                    <label class="mdl-textfield__label" for="query">id:3 instance:foo-bar-99 has:feature</label>
                </div>
            </form>
            {{end}}
        </div>
    </header>
    {{if .Page}}
    <div class="mdl-grid">
        <p>
            Page {{.Page}}
            {{if .Query}}
            – Displaying results for
            <span class="mdl-chip mdl-chip--deletable">
                <span class="mdl-chip__text">{{.Query}}</span>
                <a href="organizations" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
            </span>
            {{end}}
        </p>
    </div>
    {{end}}
    <div class="mdl-grid">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">ID</th>
            <th class="mdl-data-table__cell--non-numeric">Instance</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">CreatedAt ▼</th>
            <th class="mdl-data-table__cell--non-numeric">FirstSeenConnectedAt</th>
            <th class="mdl-data-table__cell--non-numeric">DenyUIFeatures</th>
            <th class="mdl-data-table__cell--non-numeric">DenyTokenAuth</th>
            <th class="mdl-data-table__cell--non-numeric">FeatureFlags</th>
          </tr>
      </thead>
      <tbody>
      {{range .Organizations}}
      <tr>
        <td>{{.ID}}</td>
        <td>{{.ExternalID}}</td>
        <td style="max-width:300px;text-overflow:ellipsis;overflow:hidden" title="{{.Name}}">{{.Name}}</td>
        <td>{{.FormatCreatedAt}}</td>
        <td>{{.FirstSeenConnectedAt}}</td>
        <td>
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="field" value="DenyUIFeatures">
            <input type="checkbox" name="value" {{if .DenyUIFeatures}}checked {{end}}/>
            <input class="mdl-button mdl-js-button mdl-button--raised"
                   type="submit" value="Save" />
          </form>
        </td>
        <td>
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="field" value="DenyTokenAuth">
            <input type="checkbox" name="value" {{if .DenyTokenAuth}}checked {{end}}/>
            <input class="mdl-button mdl-js-button mdl-button--raised"
                   type="submit" value="Save" />
          </form>
        </td>
        <td>
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
            <input type="hidden" name="field" value="FeatureFlags">
            <input type="text" name="value" value="{{range .FeatureFlags}}{{.}} {{end}}" />
            <input class="mdl-button mdl-js-button mdl-button--raised"
                   type="submit" value="Save" />
          </form>
        </td>
        <td>
          <a href="organizations/{{.ExternalID}}/users">Users</a>
        </td>
      </tr>
      {{end}}
      </tbody>
    </table>
    </div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        Displaying {{len .Organizations}} organizations on this page<br/>
    </div>
    {{if .Page}}
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <a href="organizations?query={{.Query}}&page={{.NextPage}}" class="mdl-button mdl-js-button mdl-button--raised">
            Next page
        </a>
    </div>
    {{end}}
  </body>
{{end}}
</html>
