<!doctype html>
<html>
 <base href="/admin/users/"/>
{{with .}}
  <head>
    {{if .UserEmail}}
    <title>Organizations for {{.UserEmail}} – Weave Cloud</title>
    {{else}}
    <title>Organizations – Weave Cloud</title>
    {{end}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
  {{if .Message}}
  <div class="mdl-snackbar mdl-snackbar--active">
      <div class="mdl-snackbar__text">{{.Message}}</div>
  </div>
  {{end}}
    <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600 is-casting-shadow">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
				<div class="material-icons">domain</div>
                {{if .UserEmail}}
                Organizations for User «{{.UserEmail}}»
                {{else}}
                Organizations
                {{end}}
            </span>
            <div class="mdl-layout-spacer"></div>
            {{if not .UserEmail}}
            <form action="" method="GET">
                <input type="hidden" name="page" value="1" />
                <label class="mdl-button mdl-js-button mdl-button--icon" for="query">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield mdl-js-textfield" style="width:640px">
                    <input class="mdl-textfield__input" type="text" name="query" id="query" value="{{.Query}}">
                    <label class="mdl-textfield__label" for="query">id:3 instance:foo-bar-99 feature:&lt;flag&gt; has:zuora|gcp token:&lt;probe-token&gt;</label>
                </div>
            </form>
            {{end}}
        </div>
    </header>
    {{if .Page}}
    <div class="mdl-grid">
        <p>
            Page {{.Page}}
            {{if .Query}}
            – Displaying results for
            <span class="mdl-chip mdl-chip--deletable">
                <span class="mdl-chip__text">{{.Query}}</span>
                <a href="organizations" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
            </span>
            {{end}}
        </p>
    </div>
    {{end}}
    <div class="mdl-grid">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">ID</th>
            <th class="mdl-data-table__cell--non-numeric">Name<br />Instance</th>
            <th class="mdl-data-table__cell--non-numeric">CreatedAt ▼</th>
            <th class="mdl-data-table__cell--non-numeric">FirstSeenConnectedAt</th>
            <th class="mdl-data-table__cell--non-numeric">Platform/Env</th>
            <th class="mdl-data-table__cell--non-numeric">Fields</th>
            <th></th>
            <th class="mdl-data-table__cell--non-numeric">Billing</th>
          </tr>
      </thead>
      <tbody>
      {{range .Organizations}}
      <tr>
        <td>{{.ID}}</td>
        <td class="mdl-data-table__cell--non-numeric">
            <span style="font-size:larger">{{.Name}}</span><br />
            <div style="max-width:300px;text-overflow:ellipsis;overflow:hidden" title="{{.ExternalID}}">{{.ExternalID}}</div>
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{.FormatCreatedAt}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{if .FirstSeenConnectedAt}}{{.FirstSeenConnectedAt.Format "2006-01-02T15:04:05Z07:00"}}{{ else }}
            <form action="organizations/{{.ExternalID}}" method="POST">
                <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
                <input type="hidden" name="field" value="FirstSeenConnectedAt">
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                type="submit" value="Onboard" />
            </form>
        {{ end }}</td>
        <td class="mdl-data-table__cell--non-numeric">
          {{.Platform}}
          {{if .Environment}}/{{.Environment}}{{end}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <form action="organizations/{{.ExternalID}}" method="POST">
            <input type="hidden" name="csrf_token" value="$__CSRF_TOKEN_PLACEHOLDER__">
              <input type="text" name="FeatureFlags" value="{{range .FeatureFlags}}{{.}} {{end}}" placeholder="Feature Flags"/>
              <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="Save" /><br/>
              <label><input type="checkbox" name="RefuseDataAccess" {{if .RefuseDataAccess}}checked {{end}}/> RefuseDataAccess</label>
            <label><input type="checkbox" name="RefuseDataUpload" {{if .RefuseDataUpload}}checked {{end}}/> RefuseDataUpload</label>
          </form>
        </td>
        <td>
          <a href="organizations/{{.ExternalID}}/users">Users</a><br />
          <a href="/admin/billing/organizations?query={{.ExternalID}}">Billing</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          {{if .GCP}}
            {{if not .GCP.Activated}}<div class="material-icons" title="Account was not activated">error</div>{{end}}
            <strong title="{{.GCP.SubscriptionName}} [{{.GCP.ConsumerID}}]">GCP</strong> <em>{{.GCP.SubscriptionLevel}}</em> [{{.GCP.SubscriptionStatus}}]<br />
            {{.GCP.ExternalAccountID}}
          {{end}}
          {{if .ZuoraAccountNumber }}
            <strong>Zuora</strong><br />
            {{.ZuoraAccountNumber}}
          {{end}}
        </td>
      </tr>
      {{end}}
      </tbody>
    </table>
    </div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        Displaying {{len .Organizations}} organizations on this page<br/>
    </div>
    {{if .Page}}
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <a href="organizations?query={{.Query}}&page={{.NextPage}}" class="mdl-button mdl-js-button mdl-button--raised">
            Next page
        </a>
    </div>
    {{end}}
  </body>
{{end}}
</html>
