<html>
<head>
    <title></title>
</head>
<body>
<p>Hi,</p>

<p>Your free trial of Weave Cloud for ‘{{.OrganizationName}}’ is almost finished. It will expire in {{.TrialLeft}}, on {{.TrialExpiresAt}}.</p>

<p>To continue your subscription please <a href="{{.BillingURL}}">add a payment method</a>.</p>

<p>If you have any questions please contact us via <a href="mailto:billing@weave.works">billing@weave.works</a>
    or through <a href="https://weaveworks.github.io/community-slack/">Slack</a>.</p>

<p>Thanks,<br />
<br />
The Weaveworks team</p>
