<p>Hi,</p>

<p>Your free trial of Weave Cloud for ‘{{.OrganizationName}}’ is almost finished. It will expire in {{.TrialLeft}}, on {{.TrialExpiresAt}}.</p>

<p>To continue your subscription please add a payment method:</p>

<div>
   <p style="margin-bottom: 24px">
    <a href="{{.BillingURL}}">
      <button style="background-color: transparent; outline: none; border: 0; cursor: pointer; background: #049CD7; height: 48px; color: white; padding: 16px;  text-transform: uppercase; border-radius: 4px; border: 1px solid #007EB1; line-height: 1em; font-size: 1em;">
        Add payment method
      </button>
    </a>
  </p>
</div>

<p>To terminate your subscription for ‘{{.OrganizationName}}’, visit the settings pages and delete the instance.</p>

<p>If you have any questions please contact us via <a href="mailto:billing@weave.works">billing@weave.works</a>
    or through <a href="https://slack.weave.works/">Slack</a>.</p>

<p>Thanks,<br />
<br />
The Weaveworks team</p>
