<html>
<head>
	<title></title>
</head>
<body>
<p>Hi,</p>

<p>Your free trial of Weave Cloud for «{{.OrganizationName}}» has now come to an end.</p>

<p>But don't worry, to continue using Weave Cloud just <a href="{{.BillingURL}}">add a payment method</a>.</p>

<p>If you have any questions or issues, feel free to get in touch via <a href="mailto:billing@weave.works">billing@weave.works</a>
or <a href="https://weaveworks.github.io/community-slack/">join our Slack channel</a>.</p>

<p>Thanks,<br />
<br />
The Weaveworks team</p>
