<p>Hi,</p>

<p>Here is your weekly summary report for ‘{{.OrganizationName}}’:</p>

<p>Number of workload releases: {{.WorkloadReleasesCount}}</p>

<ul>
  <li>
    <span>3 most CPU heavy workloads: </span>
    <ul>
      <li>{{.CPUIntensiveWorkload1Value}} - {{.CPUIntensiveWorkload1Name}}</li>
      <li>{{.CPUIntensiveWorkload2Value}} - {{.CPUIntensiveWorkload2Name}}</li>
      <li>{{.CPUIntensiveWorkload3Value}} - {{.CPUIntensiveWorkload3Name}}</li>
    </ul>
  </li>
  <li>
    <span>3 most Memory heavy workloads: </span>
    <ul>
      <li>{{.MemoryIntensiveWorkload1Value}} - {{.MemoryIntensiveWorkload1Name}}</li>
      <li>{{.MemoryIntensiveWorkload2Value}} - {{.MemoryIntensiveWorkload2Name}}</li>
      <li>{{.MemoryIntensiveWorkload3Value}} - {{.MemoryIntensiveWorkload3Name}}</li>
    </ul>
  </li>
</ul>

<p>Thanks,<br />
<br />
The Weaveworks team</p>
