# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vagrant

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
profile.cov
coverage.html

# Emacs backup files
*~

# Project specific
.uptodate
users/users
authfe/authfe
kubediff/vendor/github.com/tomwilkie/prom-run/prom-run
client/build/*
ui-server/build/*

Vagrantfile.local
.dir-locals.el
image.tar
*tfstate.backup
saas.deploy.plan.*

infra/kubernetes.tar.gz
infra/kubernetes/*
infra/helloworld/helloworld
infra/local/kubeconfig
infra/local/master/pki
infra/local/master/master.json

.terraform
