# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vagrant

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
profile.cov
coverage.html

# Emacs backup files
*~

# Project specific
.uptodate
users/users.pb.go
users/cmd/users/users
notebooks/cmd/notebooks/notebooks
authfe/authfe
configs/cmd/configs/configs
kubediff/vendor/github.com/tomwilkie/prom-run/prom-run
client/build/*
ui-server/build/*
service-ui-kicker/service-ui-kicker
github-receiver/github-receiver
billing/aggregator/aggregator
billing/aggregator/migrations
billing/api/api
billing/api/migrations
billing/uploader/uploader
billing/uploader/migrations
billing/enforcer/enforcer

users/mock_users/*
!users/mock_users/README

billing/db/mock_db/*
!billing/db/mock_db/README

Vagrantfile.local
.dir-locals.el
image.tar
*tfstate.backup
saas.deploy.plan.*

infra/kubernetes.tar.gz
infra/kubernetes/*
infra/helloworld/helloworld
infra/local/kubeconfig
infra/local/master/pki
infra/local/master/master.json
