<!doctype html>
<html>
  <head>
    <title>Weave Run - Signup</title>
  </head>
  <body>
    {{if .LoginEmailSent}}
    <p>
    Login email sent to {{.User.Email}} (login at: <a href="{{.User.LoginLink}}">{{.User.LoginLink}}</a>)!
    </p>
    {{end}}
    {{if .TokenExpired}}
    <p>
    Login token has expired, please generate a new one.
    </p>
    {{end}}
    <form action="/users/signup" method="post">
      <label for="email" {{if .EmailBlank}}class="error" {{end}}>Email
        <input type="email" name="email" placeholder="joe@weave.works" />
        {{if .EmailBlank}}<small class="error">Email cannot be blank</small>{{end}}
      </label>
      <input type="submit" name="login" value="Login" />
    </form>
  </body>
</html>
