<html>

<head>
  <title></title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
  <div style="height: 100%;  display: flex;  flex-direction: column;">
    <div style="padding: 24px;  background: white;  margin: auto;  margin-top: 48px;  max-width: 600px;  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); ">
      <div style="margin-top: 24px">
        <img width="213px" height="34px" src="https://s3-us-west-2.amazonaws.com/weaveworks-ui-components/images/weaveworks.png" / />
      </div>
      <div>
        <h2 style="font-size: 28px; line-height: 24px; font-weight: normal">{{.Title}}</h2>
      </div>
      <div>
        {{.Content}}
      </div>
      <div style="width: 50%; margin: 0;">
        <hr style="width: 100%; margin: 16px 0" />
      </div>
      <div style="display: inline-block">
        <a style="text-decoration: none; margin-right: 16px;" href="https://www.facebook.com/WeaveworksInc/" target="_blank">
          <img style="width: 24px; height: 24px" src="https://s3-us-west-2.amazonaws.com/weaveworks-ui-components/images/facebook-square.png" alt="Facebook_icon_128x128-circle.png" height="32" width="32" constrain="true" imagepreview="false">
        </a>
        <a style="text-decoration: none; margin-right: 16px;" href="https://twitter.com/weaveworks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
          <img style="width: 24px; height: 24px" src="https://s3-us-west-2.amazonaws.com/weaveworks-ui-components/images/twitter-square.png" alt="Twitter_icon_128x128-circle.png" height="32" width="32" constrain="true" imagepreview="false">
        </a>
        <a style="text-decoration: none; margin-right: 16px;" href="https://weave-community.slack.com/messages">
          <img style="width: 24px; height: 24px" src="https://s3-us-west-2.amazonaws.com/weaveworks-ui-components/images/slack.png" alt="googleplus_icon_128x128-circle.png" height="32" width="32" constrain="true" imagepreview="false">
        </a>
        <a style="text-decoration: none; margin-right: 16px;" href="https://www.youtube.com/channel/UCmIz9ew1lA3-XDy5FqY-mrA" target="_blank">
          <img style="width: 24px; height: 24px" src="https://s3-us-west-2.amazonaws.com/weaveworks-ui-components/images/youtube-square.png" alt="Youtube_icon_128x128-circle.png" height="32" width="32" constrain="true" imagepreview="false">
        </a>
        <a style="text-decoration: none; margin-right: 16px;" href="https://www.linkedin.com/company-beta/9420084" target="_blank">
          <img style="width: 24px; height: 24px" src="https://s3-us-west-2.amazonaws.com/weaveworks-ui-components/images/linkedin-square.png" alt="LinkedIn_icon_128x128-circle.png" height="32" width="32" constrain="true" imagepreview="false">
        </a>
      </div>
    </div>
    <div style="text-align: center; flex-grow: 1; font-size: 9px; margin-top: 24px;">
      <span>Copyright 2018 Weaveworks</span>
    </div>
  </div>
</body>

</html>
